h3 {
  text-align: center;
}

mat-sidenav {
  width: 200px; /* Set the width of the sidebar */

}
.mat-h1{
  text-align: center;
  margin: 128px;
}
.container {
  width: 100%;
  height: 95vh;
}
.sidenav {
  padding: 24px;
}
.msg-container{
  align-items: center;
}
