<mat-toolbar color="primary">
  <mat-toolbar-row class="material-toolbar-row">
    <button mat-button (click)="toggleSideMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Edustat App</h1>
    <div class="spacer"></div>
    <button mat-flat-button color="primary">Про додаток</button>
    <button mat-flat-button color="primary">Документація</button>
    <button mat-flat-button color="primary">Контакти</button>
    <div class="spacer"></div>

    <!-- <button mat-button><mat-icon>login</mat-icon></button> -->
  </mat-toolbar-row>
</mat-toolbar>
